/* //////////////////////////////////// SELECTEUR GÉNÉRAL //////////////////////////////////// */
/* ........................................................................................... */

/* Ne s'applique pas sur ce fichier car tout est écrit dans le css_accueil */

/* //////////////////////////////////// Classes //////////////////////////////////// */

.cubes-fond {
  opacity: 40%;
  filter: blur(0.8rem) brightness(1.1);
}

/* //////////////////////////////////// Balises //////////////////////////////////// */

h2 {
  text-align: center;
  color: var(--couleur-main-gris-f);
  margin-top: 2%;
  margin-bottom: 40%;
}

/* //////////////////////////////////// Animations //////////////////////////////////// */
